body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.container {
  border: 1px dashed #aaa;
  margin: 0 auto;
}

header {
  background-color: #0a0;
  overflow: hidden;
  padding: 0px 20px;
  nav {
    float: right;
    ul {
      list-style-type: none;
      li {
        display: inline;
      }
    }
  }
}

#content {
  position: relative;
  margin: 0;
}

aside {
  position: absolute;
  width: 250px;
  margin: 0px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #DD0;
}

#posts {
  background-color: #55F;
  padding: 10px;
  margin: 0 250px 0 0;
  min-height: 500px;
}

.post {
  padding: 0 0 10px 10px;
  h3 {
    margin: 0px;
  }
  .meta .author {
    font-weight: bold;
  }
  summary p {
    padding: 0 10px;
  }
}

footer {
  background-color: #F33;
  padding: 10px;
  #copyright {
    margin: 0 auto;
    text-align: center;
  }
}
